In [55]:
# importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [56]:
df=pd.read_csv('FAOSTAT_data - FAOSTAT_data_en_12-29-2024.csv')

In [57]:
DataFrame=df.drop(columns=['Domain Code','Area Code (M49)','Item Code (CPC)','Element Code','Year Code','Flag','Flag Description','Note'])

In [58]:
df_filtered = df[['Area', 'Item', 'Element', 'Year', 'Unit', 'Value']]

df_pivot = df_filtered.pivot_table(
    index=['Area', 'Item', 'Year'],
    columns='Element',
    values='Value',
    aggfunc='first'
).reset_index()

In [59]:
df_pivot['Area harvested'].fillna(df_pivot['Area harvested'].median(), inplace=True)
df_pivot['Yield'].fillna(df_pivot['Yield'].median(), inplace=True)
df_pivot['Production'].fillna(df_pivot['Production'].median(), inplace=True)

C:\Users\keert\AppData\Local\Temp\ipykernel_10140\1544902184.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pivot['Area harvested'].fillna(df_pivot['Area harvested'].median(), inplace=True)
C:\Users\keert\AppData\Local\Temp\ipykernel_10140\1544902184.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pivot['Yield'].fillna(df_pivot['Yield'].median(), inplace=True)
C:\Users\keert\AppData\Local\Temp\ipykernel_10140\1544902184.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_pivot['Production'].fillna(df_pivot['Production'].median(), inplace=True)

In [61]:
df_pivot = df_pivot[['Area', 'Item', 'Year', 'Area harvested', 'Yield', 'Production']]
df_pivot = df_pivot[
    (df_pivot['Area harvested'] > 0) &
    (df_pivot['Yield'] > 0) &
    (df_pivot['Production'] > 0)
]
print(df_pivot.describe())

Element          Year  Area harvested          Yield    Production
count    88600.000000    8.860000e+04   88600.000000  8.860000e+04
mean      2020.935474    9.408072e+04   10072.218520  7.872748e+05
std          1.387757    1.054751e+06   22026.470891  9.533621e+06
min       2019.000000    1.000000e+00       1.300000  1.000000e-02
25%       2020.000000    3.005000e+03    4130.300000  1.731648e+03
50%       2021.000000    3.005000e+03    5463.800000  1.042758e+04
75%       2022.000000    4.052000e+03    6961.975000  7.866039e+04
max       2023.000000    4.783200e+07  705196.700000  7.825858e+08

In [62]:
Data_Frame_2=pd.DataFrame(df_pivot)
Data_Frame_2.to_csv('Prediction.csv',index=False)

In [63]:
Data_Frame_2.describe()

Element          Year  Area harvested          Yield    Production
count    88600.000000    8.860000e+04   88600.000000  8.860000e+04
mean      2020.935474    9.408072e+04   10072.218520  7.872748e+05
std          1.387757    1.054751e+06   22026.470891  9.533621e+06
min       2019.000000    1.000000e+00       1.300000  1.000000e-02
25%       2020.000000    3.005000e+03    4130.300000  1.731648e+03
50%       2021.000000    3.005000e+03    5463.800000  1.042758e+04
75%       2022.000000    4.052000e+03    6961.975000  7.866039e+04
max       2023.000000    4.783200e+07  705196.700000  7.825858e+08