In [4]:
# importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [5]:
df=pd.read_csv('FAOSTAT_data - FAOSTAT_data_en_12-29-2024.csv')

In [6]:
DataFrame=df.drop(columns=['Domain Code','Area Code (M49)','Item Code (CPC)','Element Code','Year Code','Flag','Flag Description','Note'])

In [7]:
categorical=[x for x in DataFrame.columns if df[x].dtype=='object']
print('Categorical Values:\n',categorical)

numerical=[y for y in DataFrame if df[y].dtype!='object']
print('Numerical Values\n:',numerical)

Categorical Values:
 ['Domain', 'Area', 'Element', 'Item', 'Unit']
Numerical Values
: ['Year', 'Value']

In [8]:
OG = DataFrame.pivot_table(index=['Domain','Area','Item','Unit','Year'],
                             columns='Element',
                             values='Value',
                             aggfunc='first').reset_index()

OG.columns=[y if isinstance(y,str)else y[1]for y in OG.columns]

In [9]:
OG.duplicated().sum()

np.int64(0)

In [10]:
Col=['Laying','Milk Animals','Producing Animals/Slaughtered','Stocks','Yield/Carcass Weight']
OG.drop(columns=[x for x in Col if x in OG.columns],inplace=True)

In [11]:
dup=OG[['Domain', 'Area', 'Item', 'Unit', 'Year', 'Area harvested', 'Production', 'Yield']].duplicated().sum()
print(dup)

0

In [12]:
if 'Area harvested' in OG.columns:
    OG['Area harvested'].fillna(OG['Area harvested'].median(),inplace=True)

if 'Production' in OG.columns:
    OG['Production'].fillna(OG['Production'].median(),inplace=True)

if 'Yield' in OG.columns:
    OG['Yield'].fillna(OG['Yield'].median(),inplace=True)

C:\Users\keert\AppData\Local\Temp\ipykernel_13628\3666284728.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  OG['Area harvested'].fillna(OG['Area harvested'].median(),inplace=True)
C:\Users\keert\AppData\Local\Temp\ipykernel_13628\3666284728.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  OG['Production'].fillna(OG['Production'].median(),inplace=True)
C:\Users\keert\AppData\Local\Temp\ipykernel_13628\3666284728.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  OG['Yield'].fillna(OG['Yield'].median(),inplace=True)

In [13]:
Data_Frame_2=pd.DataFrame(OG)
Data_Frame_2.to_csv('Prediction.csv',index=False)

In [14]:
Data_Frame_2.describe()

                Year  Area harvested    Production          Yield
count  218128.000000    2.181280e+05  2.181280e+05  218128.000000
mean     2020.973447    3.995849e+04  3.800426e+05    7126.985148
std         1.403211    6.737062e+05  7.409016e+06   14257.767254
min      2019.000000    0.000000e+00  0.000000e+00       0.000000
25%      2020.000000    3.005000e+03  1.092277e+04    5216.200000
50%      2021.000000    3.005000e+03  1.092277e+04    5216.200000
75%      2022.000000    3.005000e+03  1.092277e+04    5216.200000
max      2023.000000    4.783200e+07  7.825858e+08  705196.700000